{% extends 'base.html' %}
{% load static %}

{%block title%}{{title}}{%endblock%}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{%block content%}
<div class="login_block">
    <div class="wrapper">
        <form action="{% url 'user:login' %}" method="post">
            <h1>Авторизация</h1>
            {% csrf_token %}
            {%if form.non_field_errors%}
                <p>{{form.non_field_errors}}</p>
            {%endif%}
            <div class="input-box">
                <input type="text" value="{% if form.username.value %}{{form.username.value}}{%endif %}" name='username' id="id_username" placeholder="Введите имя пользователя" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" id='id_password' placeholder="Введите пароль" required>
            </div>

            {% comment %}{% for item in form %}
                <div class="input-box">
                    {{item}}
                </div>
            {% endfor %} {% endcomment %}

            {%comment%}<div class="input-box">
                <input type="text" id="username" placeholder="Введите имя пользователя" required>
            </div>
            <div class="input-box">
                <input type="password" id='password' placeholder="Введите пароль" required>
            </div>{%endcomment%} 

            <button type="submit" class="btn">Войти</button>

            <div class="register-link">
                <p>Нет аккаунта? <a href="{% url 'user:registration' %}">Зарегистрироваться
                    </a></p>
            </div>

        </form>
    </div>
</div>

{%endblock %}