{% extends 'main/base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{%endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro-inner">
            <h1 class="intro-title">Bonjour!</h1>
            <a class="button" href="#">Перейти к меню</a>
        </div>
    </div>
</div> <!-- Первая страница -->

<div class="menu_string">
<div class="container">
    <div class="menu_things">
        <div class="menu_th">
            <div class="menu_icon">

            </div>
            <div class="menu_info">Кондитерские <br>изделия</div>
        </div>
        <div class="menu_th">
            <div class="menu_icon">

            </div>
            <div class="menu_info">Выпечка</div>
        </div>
        <div class="menu_th">
            <div class="menu_icon">

            </div>
            <div class="menu_info">Хлеб</div>
        </div>
        <div class="menu_th">
            <div class="menu_icon">

            </div>
            <div class="menu_info">Веганское</div>
        </div>
        <div class="menu_th">
            <div class="menu_icon">

            </div>
            <div class="menu_info">Напитки</div>
        </div>
    </div>
</div>
</div>

<section class="section">
<div class="container">
    <div class="section-header">
        <h2 class="section-title">Побывайте в Париже!</h2>
        <div>
            <p>
                Добро пожаловать в нашу уютную французскую пекарню-кондитерскую! Здесь вас ждет настоящее
                волшебство вкуса и атмосферы Парижа.
            </p>
        </div>
    </div>

    <div class="about">
        <div class="about_item">
            <div class="about_img">
                <img src="{% static 'main/img/1.jpg' %}">
            </div>
        </div>
        <div class="about_item">
            <div class="about_img">
                <img src="{% static 'main/img/2.jpg' %}">
            </div>
        </div>
        <div class="about_item">
            <div class="about_img">
                <img src="{% static 'main/img/3.jpg' %}">
            </div>
        </div>
    </div>
</div>
</section>

<div class="statistics">
<div class="container">
    <div class="stat">
        <div class="stat_item">
            <div class="stat_count">8</div>
            <div class="stat_info">высококлассных кондитеров</div>
        </div>
        <div class="stat_item">
            <div class="stat_count">13000</div>
            <div class="stat_info">часов работы на кухне</div>
        </div>
        <div class="stat_item">
            <div class="stat_count">7</div>
            <div class="stat_info">дней в неделю радуем вас великолепной выпечкой</div>
        </div>
    </div>
</div>
</div>
{%endblock%}