body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.contain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
    padding-top: 20px;


}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    text-decoration: none;
    color: black;

    transition: color .2s linear;
}

.logo {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: black;
}

.intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;


    background: url('/static/main/img/croissant_black.jpg') center no-repeat;
    background-size: cover;

}

.intro-title {
    font-size: 56px;
}

.intro-inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid white;
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    transition: color .2s linear, background .2s linear;
}

.button:hover {
    background-color: black;
    color: white;
}

.menu_string {
    background-color: bisque;
}

.menu_things {
    display: flex;
}

.menu_th {
    flex: 1 1 0;
    text-align: center;
    padding: 50px 20px;
}

.section {
    padding: 80px 0;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 60px;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_item {
    flex: 1;
    padding: 0 10px
}

.about_img img {
    max-width: 100%;
    height: auto;
}

.statistics {
    background-color: bisque;
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    border-right: 1px solid black;
    text-align: center;
    padding: 70px 25px;
}

.stat_item:last-child {
    border-right: transparent;
}

.stat_count {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
}

.stat_info {
    font-size: 16px;
    font-weight: 200;
}

.social_media {
    margin-top: 60px;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

/* about */
.first_info_block {
    padding: 100px 250px;
    padding-top: 0;
    text-align: center;
    margin-top: 100px;
    background-color: white;
}

.hello {
    text-align: center;
}

.second_info_block {
    background-color: bisque;
}

.achievements_items {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.achievement_item {
    display: flex;
}

.item {
    flex: 1 1 0;
    text-align: center;
    padding: 70px 25px;
}

.achievement_name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}

.achievement_text {
    font-weight: 200;
}

.video_block {
    padding-top: 0px;
}

.about_video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    text-align: center;
}

/*News page*/
.alert-warning {
    width: 500px;
    margin: 25px 30%;
    text-align: center;
}

.news_one {
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    padding: 20px;
}


.first_block {
    padding: 80px 250px;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
}

.thumbnail {
    height: 350px;
}

.last_block {
    margin-top: 50px;
}

h1 {
    color: hsl(0, 0%, 30%);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}

/* menu */

.menu_block {
    padding-top: 80px;
}

.hello_words {
    text-align: center;
    font-size: 22px;
    padding: 20px 200px;
    background-color: bisque;
}

/*.box-element.product {
    margin-top: 25px;
}*/

.comeback {
    text-decoration: none;
    color: black;
}

.comeback_line {
    padding: 0 100px;
}

.products_item {
    margin-bottom: 30px;
}

.row {
    flex-wrap: wrap;
}

.product_img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;

    transition: transform .4s ease;
}

.product_img {
    margin-bottom: 10px;
}

.product_body h3 {
    font-size: 21px;
}

.product_img:hover {
    transform: scale(1.05);
}

.info-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.product_price {
    font-weight: 700;
    font-size: 18px;
}

/*.info_item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.add-btn {
    background-color: transparent;
    border: 1px solid black;
}

.products_item {
    background-color: bisque;
    box-shadow: 0 0 10px #444;
    border-radius: 25px;
    padding: 15px;
    max-width: 25%;
}*/

.products_block .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.products_block .col-md-3 {
    flex: 0 0 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
    padding-left: 15px;
    padding-right: 15px;
}

.products_block {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 35px;
}

.choise {
    /*display: flex;
    justify-content: space-between;*/
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    text-align: right;
    /*margin-top: 25px;
    margin-bottom: 25px;*/
}

.choise a {
    text-decoration: none;
    /*text-align: center;
    line-height: 40px;*/
}

.choise li {
    list-style: none;
    text-align: right;
}

/* product */

.product {
    padding-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
}

.product_image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.product_image {
    margin-bottom: 10px;
}

.dropdown {
    margin-left: 10%;
    margin-right: 10%;

}

.accept_button {
    margin-top: 25px;
}

.sort {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* login */

.wrapper {
    position: relative;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.login_block {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    outline: none;
    border: 0.5px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/*.reg_col {
    display: flex;
    justify-content: space-between;
}*/

/* mistakes reg page */

.alert {
    position: absolute;
    top: 0;
    right: -300px;
    /* Правый отступ от формы */
    width: 250px;
    /* Ширина блока ошибки */
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-dismissible {
    padding-right: 35px;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.fade.show {
    opacity: 1;
}

/* cart */

.container_cart {
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.container_cart_2 {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}

.justify-content-center {
    justify-content: center !important;
}

.bg-white {
    background-color: #fff !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-center {
    text-align: center !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125);
    list-style-type: none;
}


.list-group-item .row.text-center .col {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}


.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.card-title {
    margin-bottom: 0.5rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn>.btn {
    position: relative;
    font-size: 1rem;
    flex: 0 1 auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.number {
    width: 50px;
    text-align: center;
}

.remove-from-cart {
    color: #000000;
    /* changed to black */
}

.remove-from-cart:hover {
    color: #000000;
    /* changed to black */
    text-decoration: none;
}